.judul{
    color: maroon;
    font-family: Tahoma;
    font-size: 25px;
}

.subJudul{
    color: navy;
    font-family: serif;
    font-size: 15px;
}

.padd{
    padding-top: 20px;
    padding-bottom: 15px;
}